doctype html
html
    head
        meta(lang="en")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title=title
        meta(name="language" content="English")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Daniel Seifert")
        meta(name="copyright" content="Lab9")
        meta(name="description" content="Agenda")
        meta(name="keywords" content="Agenda, Calendar, Diary")
        meta(name="robots" content="noindex,nofollow")
        link(rel='stylesheet', href='http://cdn.lab9.ch:64073/static/css/lab9.css')
    body
        block content
